/* Intranet Specific CSS */
.w-100p{
    width: 100px;
}

.min-vh-75 {
    min-height: 75vh !important;
}

.body-bg {
    background: #121212 !important;
}
.tile-category {
    background: linear-gradient(90.47deg, #191919 0%, #212121 100%);
border: 1px solid #303030;
border-radius: 3px;
}
.h-tile-default {
    min-height: 125px;
}
.footer-logo {
    min-height: 50px;
}