/* Intranet Specific CSS */
.w-100p{
    width: 100px;
}

.min-vh-75 {
    min-height: 75vh !important;
}

.body-bg {
    background: #121212 !important;
}
.tile-category {
    background: linear-gradient(90.47deg, #191919 0%, #212121 100%);
border: 1px solid #303030;
border-radius: 3px;
}
.h-tile-default {
    min-height: 125px;
}
.footer-logo {
    min-height: 42px;
}
.cut-tool-logo {
    height: 55px;
}
.tile-hover:hover {
    cursor: pointer;
    opacity: 0.7;
}

#table_body_directory tr:hover {
    cursor: pointer;
    background-color: #1B1B1B;
}

/* Style the 'Carrier' column to be 25% wide */
.table td:nth-child(5) { 
  width: 25%;
}

/* Prevent word wrapping in the 'Created' and 'Pickup' columns */
.table td:nth-child(7), .table td:nth-child(8) { 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis for truncation if needed */
}

.tile-minheight {
    min-height: 198px !important;
}

.dept-operations {

}

.dept-sales {

}

.dept-accounting {

}

.dept-technology {

}

.dept-all {
    
}

.report-bug-btn {
    position: fixed;
    right: 3%;
    display: inline-block;
    height: 58px;
    width: 58px;
    line-height: 60px;
    bottom: 5%;
    z-index: 19999;
}