/* Intranet Specific CSS */
.w-100p{
    width: 100px;
}

.min-vh-75 {
    min-height: 75vh !important;
}

.body-bg {
    background: #121212 !important;
}
.tile-category {
    background: linear-gradient(90.47deg, #191919 0%, #212121 100%);
border: 1px solid #303030;
border-radius: 3px;
}
.h-tile-default {
    min-height: 125px;
}
.footer-logo {
    min-height: 42px;
}
.cut-tool-logo {
    height: 55px;
}
.tile-hover:hover {
    cursor: pointer;
    opacity: 0.7;
}

#table_body_directory tr:hover {
    cursor: pointer;
    background-color: #1B1B1B;
}

.tile-minheight {
    min-height: 198px !important;
}